body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .header{
    height: 60px;
    background: #FFFFFF;
    display:flex;
    justify-content:space-around;
    align-items: center;
    background-color: white;
  } 
  .logo{
    font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 25px;
  /* identical to box height, or 100% */
  
  letter-spacing: 4px;
  text-transform: uppercase;
  
  color: #69B9FF;
  }
  .menu a{
    text-decoration: none;
    font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  }
  .active {
    color: #0082F3;
    margin-right: 40px;
  }
  .unactive {
  color: #676770;
  }
  .main {
    background-image: url(../img/bc.png.png);
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
  }
  .img{
    background-image: url(../img/bc.png.png);
    width: 100%;
    height: 700px;
    background-position: center;
    -webkit-background-size: cover;
  }
  .a {
    text-align: center;
  }

.h1{
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    letter-spacing: 5px;
    color: #676770;
}

.h2{
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 70px;
    letter-spacing: 3px;
    color: #8E8E9C;
}
 .main h1{
  color: #fff;
  line-height: 100px;
  font-size: 73px;
  font-weight: 400;
  letter-spacing: 4px;
  text-align: center; 
 }
 .btns{
  position: relative;
  max-width: 390px;
   top: 40px;
  margin: auto;
 }

 .button1{
  background: #69B9FF;
  letter-spacing: 2px;
  color: #fff;
  padding: 13px;
  cursor: pointer;
  transition: 1s;
  width: 165px;
  border: 0;
  border-radius: 4px;
  font-size: 20px;
}   
.button2{
  border: 1px solid #FFFFFF;
  position: absolute;
      transition: 1s;
  cursor: pointer;
  height: 50px;
  background: rgb(255 255 255 / 0%);
  margin-left: 15px;
  width: 210px;
  letter-spacing: 2px;
  color: #fff;
  font-size: 20px;  
  border-radius: 4px;
}
.button1:hover{
  background: #409ff2;
}
.button2:hover{
     background: rgb(204 185 185 / 25%);
}
.sec1{
  width: 100%;
  min-height: 550px; 
}
.img{
    
}
.imgn{
    
}
.rh1{
  font-weight: normal;
  font-size: 30px;
  text-align: center;
  letter-spacing: 5px;
  color: #676770;
}

.rh2{
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 70px;
  letter-spacing: 3px;
  color: #8E8E9C;
  }
  .flex{
    display: flex;
  }
  .b2{
    border: 1px solid #DCEBF7;
    width: 300px;
    margin: 6px;
    border-radius: 5px;
    height: 270px;
}
.bp1{
  font-size: 20px;
    text-align: center;
    position: relative;
    top: 40px;
    letter-spacing: 7px;
    color: #676770;
}
.bp2{
font-size: 14px;
    text-align: center;
    color: #6A859C;
    position: relative;
    top: 35px;
}
.img1{
  background: url(../img/img.png.png);
background-color: rgba(105, 185, 255, 1);
height: 72px;
width: 72px; 
top: 40px;
left: 120px;
position: relative;
background-repeat: no-repeat;
align: center;
}
.img2{
background: url(../img/img2.png.png);
background-color: rgba(105, 185, 255, 1);
height: 71px;
width: 71px;
top: 40px;
left: 120px;
position: relative;
}
.img3{
background: url(../img/img3.png.png);
background-color: rgba(105, 185, 255, 1);
height: 59px;
width: 76px;
top: 40px;
left: 120px;
position: relative;
margin-right: 50px;
}
.sec2{
  width: 100%;
background: #192024;
min-height: 400px;
}
.block3{
max-width: 910px;
position: relative;
top: 70px;
min-height: 860px;
margin: auto; 
.c {
  color: white;
}
.c1{
  color: #E8E8E8;
}
.img4{
  margin-right: 100px;
}
.img5{
  margin-left: 100px;
}
.a{
  color: #fff;
      position: static;
      font-size: 19px;
      position: static;
  }
.a b{
      font-weight: 100;
      line-height: 30px;
  }
.d{
  display: block;  
}

